/* You can add global styles to this file, and also import other style files */

@import '~@nebular/theme/styles/globals';
@import '~@nebular/theme/styles/prebuilt/corporate';
@import '~@nebular/theme/styles/prebuilt/cosmic';
@import '~@nebular/theme/styles/prebuilt/default';
@import '~@nebular/auth/styles/all';
@import '~angular-tree-component/dist/angular-tree-component.css';
// ...
@include nb-install() {
    @include nb-theme-global();
    @include nb-auth-global(); // append the install mixin inside of the nb-install
}

// .form-control {
//     height: 20px;
// }
select.form-control:not([size]):not([multiple]) {
    height: calc(2.3rem + 2px) !important;
    padding-bottom: 2px;
    padding-top: 0;
}

.nb-theme-corporate .table-format,
.nb-theme-corporate .table-format-no-hover,
.nb-theme-default .table-format,
.nb-theme-default .table-format-no-hover {
    border: 2px solid #dadfe6;
    .odd {
        background-color: #f5f7fc;
    }
}

.nb-theme-corporate .table-format .form-group:hover,
.nb-theme-default .table-format .form-group:hover {
    background-color: #e6f3ff !important;
}

.node-content-wrapper:hover {
    background: #e6f3ff
}

.nb-theme-cosmic .node-content-wrapper:hover {
    background: #494299
}

.node-content-wrapper-active,
.node-content-wrapper.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused {
    background: #e6f3ff;
    color: #4b4b4b;
    font-weight: bold;
}

.nb-theme-cosmic .node-content-wrapper-active,
.nb-theme-cosmic .node-content-wrapper.node-content-wrapper-active:hover,
.nb-theme-cosmic .node-content-wrapper-active.node-content-wrapper-focused {
    background: #494299;
    color: #d1d1ff;
    font-weight: bold;
}

// .nb-theme-cosmic .node-content-wrapper-active,
// .nb-theme-cosmic .node-content-wrapper .node-content-wrapper-active:hover,
// .nb-theme-cosmic .node-content-wrapper-active.node-content-wrapper-focused {
//     background-color: #494299 !important;
// }
.nb-theme-cosmic .table-format,
.nb-theme-cosmic .table-format-no-hover {
    border: 2px solid #342e73;
    background-color: #37317a;
    .odd {
        background-color: #3a347a;
    }
}

.nb-theme-cosmic .table-format .form-group:hover {
    background-color: #494299 !important;
}

.table-format {
    .form-group {
        padding: 0px 10px 5px 10px;
        margin-bottom: 0px;
        nb-checkbox {
            label {
                width: 100%;
                cursor: pointer;
            }
        }
    }
    margin-bottom: 1.75em;
    border-radius: 0.17rem;
}

.tooltip-danger {
  .bs-tooltip-bottom .tooltip-inner {
      background-color: #ff386a;
      color: #fff;
      max-width: 100%;
  }
  .bs-tooltip-bottom .arrow::before,
  .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
      border-top-color: #ff386a;
      border-bottom-color: #ff386a;
  }
}


agm-map {
  height: 300px;
}
